#code coverage
/code_coverage

# composer vendor dir
/vendor
/composer.lock

#node_modules
/node_modules

# phpstorm project files
.idea

# phpunit
phpunit.phar
.phpunit.result.cache
.phpunit.cache
phpunit.xlm

#yii3 config packages
/config/packages

# windows thumbnail cache
Thumbs.db
